
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.revature.project1.Web.MyServlet</servlet-class>
	</servlet>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.revature.project1.Web.AuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ASYNC</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error-404.jsp</location>
    </error-page>
	
	
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/s/js/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>
</web-app>
